/*Fonts **********************************************/
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.eot') format('embedded-opentype'), 
         url('../fonts/Gilroy-Bold.woff2') format('woff2'), 
         url('../fonts/Gilroy-Bold.woff') format('woff'), 
         url('../fonts/Gilroy-Bold.ttf')  format('truetype');
         font-weight: 700;
         font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.eot') format('embedded-opentype'), 
         url('../fonts/Gilroy-Regular.woff2') format('woff2'), 
         url('../fonts/Gilroy-Regular.woff') format('woff'), 
         url('../fonts/Gilroy-Regular.ttf')  format('truetype');
         font-weight: 400;
         font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Semibold';
    src: url('../fonts/Gilroy-Semibold.eot') format('embedded-opentype'), 
         url('../fonts/Gilroy-Semibold.woff2') format('woff2'), 
         url('../fonts/Gilroy-Semibold.woff') format('woff'), 
         url('../fonts/Gilroy-Semibold.ttf')  format('truetype');
         font-weight: 600;
         font-style: normal;
}
@font-face {
    font-family: 'Nekst-Bold';
    src: url('../fonts/Nekst-Bold.eot') format('embedded-opentype'), 
         url('../fonts/Nekst-Bold.woff2') format('woff2'), 
         url('../fonts/Nekst-Bold.woff') format('woff'), 
         url('../fonts/Nekst-Bold.ttf')  format('truetype');
         font-weight: 700;
         font-style: normal;
}
@font-face {
    font-family: 'Nekst-Regular';
    src: url('../fonts/Nekst-Regular.eot') format('embedded-opentype'), 
         url('../fonts/Nekst-Regular.woff2') format('woff2'), 
         url('../fonts/Nekst-Regular.woff') format('woff'), 
         url('../fonts/Nekst-Regular.ttf')  format('truetype');
         font-weight: 400;
         font-style: normal;
}
@font-face {
    font-family: 'Nekst-SemiBold';
    src: url('../fonts/Nekst-SemiBold.eot') format('embedded-opentype'), 
         url('../fonts/Nekst-SemiBold.woff2') format('woff2'), 
         url('../fonts/Nekst-SemiBold.woff') format('woff'), 
         url('../fonts/Nekst-SemiBold.ttf')  format('truetype');
         font-weight: 600;
         font-style: normal;
}

/*Burger **********************************************/
.menu {
    width: 100%;
    height: 100vh;
    right: -100%;
    top: 0;
    position: fixed;
    background: linear-gradient(250.6deg, rgba(3, 176, 71, 0.8) -49.48%, #03B047 100%);
    transition: 0.7s;
    z-index: 11;
    padding: 55px 30px;
    box-sizing: border-box;
}
main {
    background: linear-gradient(250.6deg, rgba(3, 176, 71, 0.8) -49.48%, #03B047 100%);
}
.open_menu {
    right: 0;
}
.menu .close {
    width: 34px;
    height: 22px;
    margin-left: auto;
}
.openBurger {
    display: none;
}
.headerNavigationBurger {
    display: flex;
    flex-direction: column;
} 
/*Header **********************************************/
.wrapper {
    max-width: 1290px;
    margin: 0 auto;
}
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Nekst-Regular', sans-serif;
    font-size: 18px;
    line-height: 140%;
    color: #111B25;
}
.bodySroll {
    overflow: hidden;
}
a {
    text-decoration: none;
}
.showContainer {
    position: fixed;
    bottom: 10vh;
    right: 0;
    transform: translateX(110%);
    transition: all .6s;
    z-index: 100;
    width: 430px;
    height: 203px;
    background: #FFFFFF;
    box-shadow: 4px 7px 20px rgba(80, 80, 80, 0.25);
    border-radius: 10px 0 0 10px;
    padding: 12px 6px 0 16px;
    box-sizing: border-box;
}
.showContainerSection svg{
    position: absolute;
    right: 14px;
    cursor: pointer;
    top: 14px;
}
.showContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.showContentLeft h3 {
    font-family: 'Nekst-SemiBold', sans-serif;
    font-size: 26px;
    line-height: 140%;
    color: #111B25;
    margin-bottom: 6px;
}
.showContentLeft p {
    font-family: 'Nekst-Regular', sans-serif;
    font-size: 20px;
    line-height: 120%;
    color: #111B25;
    margin-bottom: 24px;
}
.showContentLeft button {
    padding: 10px;
    background: #03B047;
    border-radius: 100px;
    font-family: 'Gilroy-Regular';
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    width: 100%;
    transition: all 0.3;
    border: 2px solid transparent;
}
.showContentLeft button:hover {
    border: 2px solid #03B047;
    color: #03B047;
    background: transparent;
    transition: all 0.3s;
}
.showContainerAnimation {
    animation: bear-animation 0.6s;
    transform: translateX(0%);
  }
  
   @keyframes bear-animation {
      0% {
          transform: translateX(110%);
      }
      100% {
        transform: translateX(0%);
      }
  }
header {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(80, 80, 80, 0.25);
    border-radius: 0px 0px 20px 20px;
}
header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.logotype {
    display: flex;
    align-items: center;
}
.logotype span {
    font-family: 'Nekst-Bold', sans-serif;
    font-size: 25px;
    line-height: 110%;
    letter-spacing: 0.05em;
    color: #111B25;
}
.logotype img {
    margin-right: 3px;
}
.logotype .logoTextGreen {
    color: #03B047;
    margin-left: -4px;
}
.headerNavigation {
    display: flex;
    align-items: center;
}
.headerNavigation li {
    margin-right: 30px;
}
.headerNavigation li:nth-last-of-type(1) {
    margin-right: 0;
}
.headerNavigation li a{
    font-size: 18px;
    line-height: 22px;
    color: #111B25;
    transition: all 0.3s;
}
.headerNavigation li a:hover {
    color: #03B047;
    transition: all 0.3s;
}
.registrationBtn {
    padding: 12px 100px;
    background: #03B047;
    border-radius: 30px;
    font-family: 'Gilroy-Semibold', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border: 2px solid transparent;
    transition: all 0.3s;
}
.registrationBtn:hover {
    background: transparent;
    border: 2px solid #03B047;
    color: #03B047;
    transition: all 0.3s;
}
.navigationFlex {
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-between;
}

/*Banner **********************************************/
.banner {
    background: linear-gradient(250.6deg, rgba(3, 176, 71, 0) -49.48%, #03B047 100%);
    padding: 186px 0 96px 0;
}
.banner .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bannerLeft {
    width: 40%;
}
h1 {
    font-family: 'Nekst-Bold', sans-serif;
    font-size: 70px;
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: 21px;
}
.bannerLeft p {
    font-family: 'Nekst-Regular', sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}
.bannerRight {
    background: #FFFFFF;
    box-shadow: 4px 7px 20px rgba(80, 80, 80, 0.25);
    border-radius: 20px;
    position: relative;
}
.rangeSliderRightContainer {
    padding: 40px 30px;
}
.sliderContainerText {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sliderContainerText p {
    font-family: 'Gilroy-Bold';
    font-size: 22px;
    line-height: 27px;
    color: #353535;
}
.rangeSliderRightContainer {
    width: 410px;
}
#innerMoney,
#innerDate {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 22px;
    line-height: 27px;
    color: #353535; 
}
.innerBorder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.innerBorder p {
    font-family: 'Gilroy-Regular';
    font-size: 14px;
    line-height: 16px;
    color: rgba(86, 86, 86, 0.7);
}
#valueMoney,
#valueDate {
    width: 100%;
}
.sliderMoney {
    padding-bottom: 32px;
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 20px;
}
input[type="range"]{
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 100%;
    height: 6px;
    background: rgba(86, 86, 86, 0.2);
    border-radius: 6px;
    border-radius: 100px;
    outline: none;
    margin-top: 25px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 6px;
}
input[type="range"]::-moz-track{
    -moz-appearance: none;
    height: 6px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 6px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 50px;
    width: 50px;
    background: url(../img/cursor.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    margin-top: -18px;
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 50px;
    width: 50px;
    background: url(../img/cursor.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    margin-top: -18px;
}
input[type="range"]::-ms-thumb{
    -webkit-appearance: none;
    height: 50px;
    width: 50px;
    background: url(../img/cursor.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    margin-top: -18px;
}
.calcResultBtn {
    padding: 15px;
    background: #03B047;
    border-radius: 30px;
    width: 100%;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border: 2px solid transparent;
    transition: all 0.3s;
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.calcResultBtn:hover {
    border: 2px solid #03B047;
    color: #03B047;
    background: transparent;
}
.calcResult {
    background: linear-gradient(180deg, rgba(255,255,255,1) 32%, rgba(245,245,245,1) 32%, rgba(245,245,245,1) 100%);
    padding: 40px 30px;
    border-radius: 0 0 20px 20px;
}
.promo {
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #353535;
    border-bottom: 2px dotted #353535;
    display: block;
    margin: 0 auto;
    width: max-content;
}
.calcResultProcent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containerCalc {
    margin-top: 20px;
}
.calcResultProcent {
    margin-bottom: 15px;
}
.calcResultProcent p {
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #565656;
}
.bols {
    font-family: 'Gilroy-SemiBold', sans-serif !important;
    font-size: 18px !important;
}
#c1{
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 340px;
    left: -142px;
    width: 379px;
    height: 524px;
  }
  #c2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 380px;
    left: -145px;
    width: 368px;
    height: 669px;
    display: none;
  }
 .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 } 
.bannerMobileImg {
    display: none;
}
.headerNavigationBurger {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.headerNavigationBurger li  {
    margin-bottom: 20px;
}
.headerNavigationBurger li a {
    font-family: 'Nekst-Bold', sans-serif;
    font-size: 46px;
    line-height: 55px;
    color: #FFFFFF;
    text-align: center;
}
.menu .registrationBtn {
    width: 100%;
    border: 2px solid #FFFFFF;
    color: #fff;
    font-size: 46px;
    line-height: 55px;
    background: transparent;
    margin-top: 50px;
}
.work {
    padding: 50px 0;
}
.workTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.workTopSection {
    width: 32%;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(101, 101, 101, 0.25);
    border-radius: 20px;
    padding: 24px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 255px;
}
.workTopSection img {
    margin-bottom: 20px;
}
.workTopSection h3 {
    font-family: 'Nekst-Bold', sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #111B25;
    margin-bottom: 10px;
}
.workTopSection p {
    font-family: 'Nekst-Regular', sans-serif;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #111B25;
}
.workCenter {
    display: flex;
    justify-content: center;
}
.workBottom {
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(101, 101, 101, 0.25);
    border-radius: 20px;
    padding: 40px 30px 30px 30px;
    margin-top: -18px;
}
.workBottomContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.workBottomSection {
    width: 32%;
    display: flex; 
    align-items: flex-start;
}
.workBottomSectionRight {
    display: flex;
    flex-direction: column;
}
.workBottomSectionRight h3 {
    font-family: 'Nekst-Bold', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #111B25;
    margin-bottom: 10px;
}
.workBottomSection img{
    width: 76px;
    height: 76px;
    margin-right: 10px;
}
.workBottomSection p {
    font-family: 'Nekst-Regular', sans-serif;
    font-size: 18px;
    line-height: 140%;
    color: #111B25;
}
.workBottom h2 {
    display: block;
    margin: 0 auto 40px auto;
    font-family: 'Nekst-Bold', sans-serif;
    font-size: 46px;
    line-height: 55px;
    color: #111B25;
    width: max-content;
}
.reviewsSlider  {
    overflow: hidden;
    max-width: 1210px;
    margin: 0 auto;
    padding: 20px 0;
}
.reviews .wrapper {
    overflow: hidden;
}
.reviewsSlider .slick-list .slick-track {
    display: flex;
    margin: 0 8px;
}
.main {
    background: linear-gradient(250.6deg, rgba(3, 176, 71, 0) -49.48%, #03B047 100%);
    padding: 90px 0;
    max-width: 100%;
    overflow: hidden;
}
.reviewsTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 41px;
}
.reviewsTop h2 {
    font-family: 'Nekst-Bold', sans-serif;
    font-size: 46px;
    line-height: 55px;
    color: #FFFFFF;
}
.reviewsTop button {
    padding: 10px;
    width: 300px;
    height: 52px;
    background: #03B047;
    border: 2px solid transparent;
    border-radius: 100px;
    box-sizing: border-box;
    font-family: 'Gilroy-SemiBold', sans-serif !important;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    transition: all 0.3s;
}
.reviews {
    position: relative;
}
.SliderPrev{
    position: absolute;
    left: 0;
    top: 60%;
    transform: translateY(-60%);
    background: url(../img/arrowSlider.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 13px;
    height: 24px;
    font-size: 0;
    border: none;
}
.SliderNext {
    position: absolute;
    right: 0;
    top: 52%;
    background: url(../img/arrowSlider.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 13px;
    height: 24px;
    transform: rotate(180deg) translateY(-60%);
    font-size: 0;
    border: none;
}
.reviewsItem {
    background: #FFFFFF;
    box-shadow: 2px 4px 10px rgba(101, 101, 101, 0.25);
    border-radius: 20px;
    padding: 24px;
    box-sizing: border-box;
    min-height: 272px;
    width: 383px !important;
}
.slick-slide {
    margin: 0 10px;
}
.slick-list {
    margin: 0 -10px;
}
.reviewsItemAvatarContainer {
    display: flex;
    width: 100%;
    align-items: center;
}
.reviewsItem > p {
    font-family: 'Nekst-Regular', sans-serif;
    font-size: 18px;
    line-height: 130%;
    color: #111B25;
    margin-top: 10px;
}
.reviewsItemTextContainer {
    margin-left: 10px;
}
.reviewsItemAvatarText {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reviewsItemAvatarText p {
    font-family: 'Nekst-Regular', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: rgba(17, 27, 37, 0.48);
}
.reviewsItemTextContainer {
    width: 100%;
}
.reviewsItemTextContainer > p {
    font-family: 'Nekst-Bold', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #111B25;
    margin-bottom: 10px;
}
.reviewsBtnMobile {
    display: none;
}
.SliderDots .slick-dots {
    display: flex;
    justify-content: center;
}
.SliderDots .slick-dots li button {
    font-size: 0;
    box-sizing: border-box;
    width: 8px;
    height: 13px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    background: transparent;
}
.SliderDots .slick-dots li {
    margin-right: 10px;
}
.SliderDots .slick-dots li:nth-last-of-type(1) {
    margin-right: 0;
}
.slick-active button{
    background: #fff !important;
}
/*---------------------------Popup----------------------------*/
.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0; 
    pointer-events: none; 
    transition: 0.5s all;
    z-index: 100;
}
.popup__bg.active { 
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    width: 430px;
    height: 391px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(101, 101, 101, 0.25);
    border-radius: 20px;
    transition: 0.5s all;
    padding: 30px 20px !important;
}
.popup.active { 
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}
.close-popup {
    position: absolute;
    top: 21px;
    right: 21px;
    cursor: pointer;
}
.popup h3 {
    font-family: 'Nekst-Bold', sans-serif;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #111B25;
    margin-bottom: 20px;
}
.popupContainer form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.popupContainer form input {
    height: 54px;
}
.popupContainer form input,
.popupContainer form textarea {
    padding: 12px 0px 12px 20px;
    background: #F3F3F3;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
}
.popupContainer form input::placeholder,
.popupContainer form textarea::placeholder  {
    font-family: 'Gilroy-Regular', sans-serif !important;
    font-size: 16px;
    line-height: 120%;
    color: #797979;
}
.popupContainer form textarea {
    height: 144px;
    resize: none;
}
.popupContainer form input:nth-last-of-type(1) {
    padding: 12px 40px;
    background: #03B047;
    border-radius: 50px;
    width: 100%;
    font-family: 'Gilroy-SemiBold', sans-serif !important;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
}
.open-popup:hover {
    background: #fff;
    border: 2px solid #03B047;
    color: #03B047;
    transition: all 0.3s;
}
.partners {
    padding:64px 0;
}
.partners h2 {
    font-family: 'Nekst-Bold', sans-serif;
    font-size: 46px;
    line-height: 55px;
    color: #FFFFFF;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}
.partnersSlider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.partnersSliderItem {
    width: 23%;
    height: 134px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(101, 101, 101, 0.25);
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 30px;
}
.partnersSliderItem:nth-of-type(4) {
    margin-right: 0;
}
.conditions {
    padding: 64px 0;
    width: 80%;
    margin-left: auto;
    position: relative;
}
.conditions h2 {
    font-family: 'Nekst-Bold', sans-serif;
    font-size: 46px;
    line-height: 55px;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.conditionsContent {
    background: #FFFFFF;
    box-shadow: 3px 3px 16px rgba(101, 101, 101, 0.25);
    border-radius: 16px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.conditionsContentSectionTittle {
    display: flex;
    border-bottom: 1px solid #EDEDED;
    padding: 16px 0;
}
.conditionsContentSectionTittle p {
    font-family: 'Nekst-Bold', sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #111B25;
}
.conditionsContentSection {
    display: flex;
    border-bottom: 1px solid #EDEDED;
    padding: 16px 0;
}
.conditionsContentSection p:nth-of-type(1),
.conditionsContentSectionTittle p:nth-of-type(1) {
    min-width: 20%;
    max-width: 20%;
    margin-right: 30px;
    text-align: left;
}
.conditionsContentSection p:nth-of-type(2),
.conditionsContentSectionTittle p:nth-of-type(2) {
    min-width: 40%;
    max-width: 40%;
    margin-right: 30px;
    text-align: left;
}
.conditionsContentSection p:nth-of-type(3),
.conditionsContentSectionTittle p:nth-of-type(4) {
    width: 40%;
    text-align: left;
}
.conditionsContentSection p {
    font-family: 'Gilroy-Regular', sans-serif !important;
    font-size: 16px;
    line-height: 150%;
    color: #111B25;
}
.conditionsPosition {
    position: absolute;
    left: -296px;
    top: 280px;
} 
.credit {
    padding: 64px 0;
}
.credit h2{
    font-family: 'Nekst-SemiBold', sans-serif;
    font-size: 46px;
    line-height: 55px;
    color: #111B25;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
}
.credit h2 span {
    color: #03B047;
}
.creditContent p {
    font-family: 'Nekst-Regular', sans-serif;
    font-size: 18px;
    line-height: 160%;
    color: #111B25;
    margin-bottom: 10px;
}
.creditContent h3 {
    font-family: 'Nekst-Bold', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #111B25;
    margin-top: 20px;
    margin-bottom: 10px;
}
.calculator {
    background: linear-gradient(250.6deg, rgba(3, 176, 71, 0) -49.48%, #03B047 100%);
    padding: 100px 0 140px 0;
}
.calculatorContainer {
    width: 410px;
    height: 100%;
    position: relative;
    z-index: 10;
}
.calculatorContainer .rangeSliderRightContainer {
    width: 100%;
    box-sizing: border-box;
}
.calculator .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.calculatorRight {
    position: relative;
    z-index: 2;
}
.calculatorRight img {
    max-width: 100%;
}
.calculatorRight:after {
    content: "";
    background: url(../img/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 532px;
    display: flex;
    position: absolute;
    right: 80%;
    top: 0;
    z-index: -1;
}
.services {
    padding: 140px 0 0 0;  
}
.services {
    display: flex;
    flex-direction: column;
}
.services  h2 {
    font-family: 'Nekst-Bold', sans-serif;
    font-size: 46px;
    line-height: 55px;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
}
.servicesContent {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.servicesContent p {
    font-family: 'Nekst-Regular', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #111B25;
    padding: 10px 20px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(101, 101, 101, 0.25);
    border-radius: 5px;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: all 0.3s;
    border: 1px solid transparent;
}
.servicesContent p:hover {
    background: transparent;
    border: 1px solid #03B047;
    transition: all 0.3s;
    color: #fff;
    cursor: pointer;
}
.servicesAccardion {
    display: none;
}
.accordion {
    max-width: 100%;
    margin-top: 30px;
}
.heading {
    background: #FFFFFF;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #EDEDED;
    min-height: 62px;
    cursor: pointer;  
    display: flex;
    align-items: center;
    font-family: 'Nekst-Regular', sans-serif;
    font-size: 18px;
    padding-left: 16px;
    padding-right: 50px;
    line-height: 150%;
    color: #111B25;
    position: relative;
}
.services {
    width: 100%;
}
.heading:nth-last-child(2){
    border-bottom:0; 
}
.heading::before {
    content: '';
    background: url(../img/acardionArrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 24px;
    display: flex;
    position: absolute;
    right: 25px;
    top: 25px;
}
.active.heading::before {
    transform: rotate(-180deg);
}
.not-active.heading::before {
    transform: rotate(0deg);
}
.contents {
	display: none;
	background: #FFFAFA;
	padding: 15px;
    font-family: 'Nekst-Regular', sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #111B25;
}
.calculator {
    position: relative;
}
.calculatorTel {
    position: absolute;
    right: 5px;
    bottom: 100px;
}
.calculatorTel a {
    width: 70px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(80, 80, 80, 0.25);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculatorTel a img {
    width: 34px;
    height: 34px;
    object-fit: cover;
}
.footerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
    border-bottom: 1px solid #EDEDED;
}
.footerTopContainer {
    display: flex;
    width: 80%;
}
.footerTopContainer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}
.footer {
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(80, 80, 80, 0.25);
    border-radius: 20px 20px 0px 0px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
}
.footerTopContainer ul li {
    width: 50%;
    margin-bottom: 12px;
    font-family: 'Gilroy-Regular', sans-serif !important;
    font-size: 16px;
    line-height: 19px;
    color: #111B25;
}
.footerTopContainer ul:nth-of-type(1) {
    width: 350px;
}
.footerTopContainer ul li a {
    font-family: 'Gilroy-Regular', sans-serif !important;
    font-size: 16px;
    line-height: 19px;
    color: #111B25;
}

.footerTopContainer ul:nth-of-type(2) li:nth-of-type(1) {
    width: 30%;
}
.footerTopContainer ul:nth-of-type(2) li:nth-of-type(3) {
    width: 30%;
}
.footerCenter {
    display: flex;
    align-items: flex-start;
    padding: 40px 0;
    justify-content: space-between;
    border-bottom: 1px solid #EDEDED;
}
.footerCenterText {
    width: 32%;
}
.footerCenterText p {
    font-family: 'Gilroy-Regular', sans-serif !important;
    font-size: 14px;
    line-height: 140%;
    color: #111B25;
}
.footerCenterText h3 {
    font-family: 'Gilroy-Bold', sans-serif !important;
    font-size: 14px;
    line-height: 140%;
    color: #111B25;
    margin: 4px 0;
}
.footerBottom {
    padding: 20px 0;
    width: 100%;
    text-align: center;
}
.footerBottom a {
    font-family: 'Gilroy-Bold', sans-serif !important;
    font-size: 14px;
    line-height: 140%;
    color: #111B25;
}
.calcFlex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.redText {
    font-family: 'Gilroy-Regular', sans-serif !important;
    font-size: 14px;
    line-height: 16px;
    color: #FF0000 !important;
}

/* Policy ------------------------------- */
main .wrapper {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
}
main {
    padding: 100px 0 130px 0;
    position: relative;
}
.policyNavigation a {
    font-family: 'Gilroy-Regular', sans-serif !important;
    font-size: 18px;
    line-height: 160%;
    color: #999999;
}
.policyNavigationLink {
    color: #03B047 !important;
}
main .calculatorTel {
    bottom: 35px !important;
}
main h1 {
    font-family: 'Nekst-Bold', sans-serif;
    font-size: 40px;
    line-height: 140%;
    color: #111B25;
    margin: 40px 0;
}
main h2 {
    font-family: 'Gilroy-SemiBold', sans-serif !important;
    font-size: 18px;
    line-height: 160%;
    color: #292929;
    margin-bottom: 10px;
    margin-top: 30px;
}
.policyContent p {
    font-family: 'Gilroy-Regular', sans-serif !important;
    font-size: 18px;
    line-height: 160%;
    color: #292929;
    margin-bottom: 10px;
}
.policyContent ul li {
    font-family: 'Gilroy-Regular', sans-serif !important;
    font-size: 18px;
    line-height: 160%;
    color: #292929;
}
.policyContent ul {
    list-style: disc;
    margin:10px 0 10px 20px;
}
.navNumber {
    list-style: decimal !important;
}










































@media (max-width: 1300px) {
    .wrapper {
        max-width: 100%;
        padding: 0 32px;
        box-sizing: border-box;
    }
    .footerTopContainer {
        flex-direction: column;
    }
    .footerTopContainer ul{
        width: 100% !important;
    }
    .headerNavigation li a {
        font-size: 16px;
    }
    .registrationBtn {
        padding: 12px 50px;
    }
    .bannerLeft {
        position: relative;
        z-index: 2;
    }
    .reviewsItem  {
        width: 330px !important;
        min-height: 297px;
    }
    .reviewsSlider {
        width: 1100px;
    }
    .footerTopContainer ul  {
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    .footerTopContainer ul li {
        width: auto;
    }
    .footerTopContainer ul:nth-of-type(2) li:nth-of-type(3) {
        width: auto;
    }
    .footerTopContainer ul:nth-of-type(2) li:nth-of-type(1) {
        width: auto;
    }
    .footerTopContainer ul:nth-of-type(2) {
        margin-top: 30px;
    }
}
@media (max-width: 1200px) {
    .workTopSection {
        min-height: 281px;
    }
    .reviewsSlider  {
        width: 850px !important;
    }
    .reviewsItem {
        width: 100% !important;
    }
    .reviewsSlider .slick-list .slick-track {
        margin: 0;
    }
    .partnersSlider {
        justify-content: space-between;
    }
    .partnersSliderItem  {
        width: 48%;
        margin-right: 0;
    }
    .conditionsContentSection p:nth-of-type(2), .conditionsContentSectionTittle p:nth-of-type(2) {
        margin-right: 10px;
    }
    .conditionsContentSection p {
        font-size: 14px;
    }
    .footerTop {
        flex-direction: column;
    }
    .footerTopContainer {
        width: 100%;
        flex-direction: column;
    }
    .footerTop .logotype {
        margin-bottom: 30px;
    }
    
}
@media (max-width: 992px) {
    .navigationFlex {
        flex-direction: column;
        width: 65%;
    }
    header {
        height: 130px;
    }
    .conditionsPosition {
        display: none;
    }
    .conditions {
        width: 100%;
    }
    .headerNavigation {
        margin-bottom: 16px;
    }
    .banner .wrapper {
        flex-direction: column;
    }
    .bannerLeft {
        width: 100%;
        text-align: center;
        margin-bottom: 24px;
    }
    .bannerRight {
        margin-left: auto;
    }
    .rangeSliderRightContainer {
        width: 350px;
    }
    .workBottomSection {
        flex-direction: column;
    }
    .workBottomSection img {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .workTopSection {
        min-height: 306px;
    }
    .reviews {
        overflow: hidden;
    }
    .reviewsSlider {
        width: 650px !important;
    }
    .reviewsItem {
        min-height: 320px;
    }
    .calculator .wrapper {
        flex-direction: column-reverse;
    }
    .calculatorContainer {
        margin: 0 auto;
        width: 500px;
    }
    .calculatorRight {
        margin-bottom: 270px;
    }
    .calculatorRight:after {
        left: 50%;
        right: 50%;
        transform: translateX(-50%) rotate(-90deg);
        top: 60%;
        width: 512px;
        height: 485px;
    }
    .calculator {
        padding-top: 30px;
    }
}
@media (max-width: 767px) {
    .navigationFlex {
        display: none;
    }
    .openBurger {
        display: block;
    }
    .parallax {
        display: none;
    }
    .rangeSliderRightContainer {
        width: 410px;
    }
    .calculatorTel {
        bottom: 10px;
    }
    .bannerRight {
        margin: 0 auto;
    }
    .bannerMobileImg {
       display: block;
       position: absolute;
       top: -195px;
       right: 0;
    }
    .bannerLeft {
        margin-bottom: 64px;
        text-align: left;
    }
    .workTopSection h3 {
        font-size: 18px;
    }
    .workTopSection p {
        font-size: 16px;
    }
    .workBottomSectionRight h3 {
        font-size: 16px;
    }
    .workBottomSection p {
        font-size: 16px;
    }
    .workTop {
        flex-direction: column;
    }
    .workBottom {
        width: 70%;
        margin: -18px auto 0 auto;
    }
    .workTopSection {
        width: 70%;
        margin-bottom: 20px;
    }
    .workTopSection:nth-last-of-type(1) {
        margin-bottom: 0;
    }
    .workTopSection {
        min-height: 250px;
    }
    .workBottomContainer {
        flex-direction: column;
        width: 100%;
    }
    .workBottomSection {
        width: 100%;
    }
    .workBottomSection {
        flex-direction: row;
        margin-bottom: 30px;
    }
    .workBottomSection:nth-last-of-type(1) {
        margin-bottom: 0;
    }
    .workBottomSection img{
        margin-right: 10px;
        margin-bottom: 0;
    }
    .reviewsSlider {
        width: 500px !important;
    }
    .partnersSlider .slick-list .slick-track {
        display: flex ;
    }
    .servicesContent {
        display: none;
    }
    .servicesAccardion {
        display: block;
    }
    .footerTopContainer {
        flex-direction: row;
    }
    .footerTopContainer ul {
        flex-direction: column;
    }
    .footerTopContainer ul:nth-of-type(2) {
        margin-top: 0;
    }
    .footerTopContainer ul li {
        margin-bottom: 20px;
    }
    .footerCenter {
        flex-direction: column;
    }
    .footerCenterText {
        width: 100%;
    }
}
@media (max-width: 576px) {
    .wrapper {
        padding: 0 16px;
    }
    .calculatorRight:after {
        height: 400px;
        width: 400px;
    }
    header {
        height: 70px;
    }
    .banner {
        padding: 100px 0 36px 0;
    }
    .reviewsTop button{
       display: none;
    }
    .calculatorRight {
        margin-bottom: 200px;
    }
    .reviewsSlider {
        width: 100% !important;
    }
    .reviewsItem {
        width: 100% !important;
    }
    .calculator {
        overflow: hidden;
    }
    .partnersSliderItem {
        width: 100%;
    }
    .partners h2,
    .conditions h2 {
        font-size: 30px;
        line-height: 36px;
    }
    .services h2 {
        font-size: 30px;
        line-height: 36px; 
    }
    .credit h2 {
        font-size: 30px;
        line-height: 36px;
    }
    .creditContent p {
        font-size: 14px;
    }
    .conditionsContentSectionTittle p {
        font-size: 12px;
    }
    .creditContent h3 {
        font-size: 14px;
    }
    .conditionsContent {
        padding: 10px;
    }
    .showContent {
        flex-direction: column;
    }
    .showContainer  {
        height: max-content !important;
        width: max-content;
        padding: 40px 6px 20px 6px;
    }
    .conditionsContentSection p:nth-of-type(1), .conditionsContentSectionTittle p:nth-of-type(1) {
        margin-right: 10px;
    }
    .conditionsContentSection p {
        font-size: 12px;
    }
    .reviewsBtnMobile {
        display: block;
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 100px;
        width: 100%;
        padding: 15px 0;
        font-family: 'Gilroy-Semibold';
        font-size: 18px;
        line-height: 22px;
        margin-top: 30px;
        color: #03B047;
    }
    .reviewsTop h2 {
        font-size: 30px;
        line-height: 36px;
    }
    .main {
        padding: 50px 0;
    }
    h1 {
        font-weight: 400;
        font-size: 36px;
        line-height: 110%;
        width: 80%;
    }
    .bannerLeft p {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
    .bannerLeft {
        margin-bottom: 100px;
    }
    .bannerRight {
        width: 100%;
    }
    .rangeSliderRightContainer {
        width: 100%;
        box-sizing: border-box;
        padding: 30px 16px;
    }
    .bannerLeft p {
        width: 65%;
    }
    .headerNavigationBurger li a {
        font-size: 30px;
        line-height: 35px;
    }
    .menu .registrationBtn {
        font-size: 30px;
        line-height: 35px;
    }
    .menu {
        padding: 25px 15px;
    }
    .workTopSection {
        width: 100%;
    }
    .workBottom {
        width: 100%;
        box-sizing: border-box;
    }
    .workCenter img {
        max-width: 100%;
    }
    .workBottom h2 {
        font-size: 30px;
        line-height: 36px;
    }
    .popup {
        width: 80%;
        height: max-content;
        box-sizing: border-box;
    }
    .footerTopContainer ul li{
        font-size: 14px;
        line-height: 16px;        
    }
    .footerTopContainer ul li a{
        font-size: 14px;
        line-height: 16px;        
    }
    .footerCenterText p {
        font-size: 14px;
        line-height: 16px;   
    }
    .footerTop {
        padding: 24px 0;
    }
    .footerCenter {
        padding: 24px 0;
    }
}
@media (max-width: 375px) {
    .calcResultBtn {
        width: max-content;
        margin: 16px auto;
        display: block;
    }
    .calcResult {
        padding: 16px;
    }
    .headerNavigationBurger li a {
        font-size: 20px;
        line-height: 25px;
    }
    .menu .registrationBtn {
        font-size: 20px;
        line-height: 25px;
    }
    .workBottom {
        padding: 40px 10px 10px 10px;
    }
    .workBottomSection img {
        width: 50px;
        height: 50px;
    }
    .reviewsSlider {
        width: 100% !important;
    }
    .reviewsItemAvatarText {
        flex-direction: column;
        align-items: flex-start;
    }
    .conditionsContentSectionTittle p {
        font-size: 10px;
    }
    .conditionsContentSection p {
        font-size: 10px;
    }
    .popup h3 {
        font-size: 18px;
        line-height: 20px;
    }
    .calculatorRight {
        margin-bottom: 100px;
    }
    .calculatorRight:after  {
        height: 300px;
        top: 35%;
        width: 100%;
    }
}
